<!DOCTYPE html>
<html>
  <%- include("./partials/head") %>
  <body>
    <%- include("./partials/header") %>
    <main class="main_detail">
      <h2 class="tituloDetalle">Detalles de la publicacion</h2>
      <section>
        <article class="descriptionDetail">
          <h2><%= oneProduct.title %></h2>
          <p><%= oneProduct.content %></p>

          <div class="tablaDetail">
            <div class="row1">
              <h4><b>Precio:</b></h4>
              <h4>$ <%= toThousand(oneProduct.price) %></h4>
            </div>

            <div class="row2">
              <h4><b>Estado: </b></h4>
              <h4><%= oneProduct.state %></h4>
            </div>

            <div class="row1">
              <h4><b> Categoria: </b></h4>
              <h4><%= oneProduct.category.replace(/-/g, ' ') %></h4>
            </div>
          </div>
        </article>
       

       <!-- Miniaturas de imágenes -->
<div class="thumbnails">
  <% if (oneProduct.imageOne) { %>
    <img class="thumbnail" src="/images/Posts/<%= oneProduct.imageOne %>" alt="">
  <% } %>
  <% if (oneProduct.imageTwo) { %>
    <img class="thumbnail" src="/images/Posts/<%= oneProduct.imageTwo %>" alt="">
  <% } %>
  <% if (oneProduct.imageThree) { %>
    <img class="thumbnail" src="/images/Posts/<%= oneProduct.imageThree %>" alt="">
  <% } %>
</div>

<!-- Visor de imágenes en pantalla completa -->
<div id="imageViewer" class="image-viewer">
  <span class="close-button">&times;</span>
  <img id="fullImage" class="full-image" src="" alt="">
</div>

<!-- Fondo negro -->
<div id="overlay" class="overlay"></div>


          <% userPost.forEach(user => { %>
            <% if (user.id == oneProduct.userId) { %>
               <article class="contactUser">
                <h5><b>Contactá al vendedor: </b></h5>
           
                    <h5><b>Nombre: </b> <%= user.name %></h5>
                    <h5><b>Telefono: </b> <%= user.phone %></h5>
                    <h5>Enviale un Whatsapp!!</h5>
                    <a class="whatsApp" href="https://api.whatsapp.com/send/?phone=+54<%= user.phone %>"><i class="fa-brands fa-whatsapp"></i></a>
                  </article>
                    <article>

            <form class="delete" action="/posts/remove/<%= oneProduct.id %>?_method=DELETE" method="POST"><button type="submit">Eliminar Producto</button></form>
     
          </article>
            <% } %>
          <% }) %>
        
       
      </section>
    </main>
    <%- include("./partials/footer") %>
    <script src="/javascripts/detail.js"></script>
    <%- include("./partials/scripts") %>
  </body>
</html>
