<!DOCTYPE html>
<html>
  <%- include("./partials/head") %>
  <body>
    <%- include("./partials/header") %>
    <main class="main_home  main_posts">
      <%- include("./partials/buscador") %>
      <section>
        <p class="presentacion">
          ¡Bienvenidos a nuestra comunidad barrial de compra y venta! <a href="/users/register">Regístrate</a>  y explora una amplia variedad de productos locales de confianza. Únete a nuestra comunidad hoy mismo y comienza a comprar y vender de forma segura y confiable. ¡Te esperamos!</p>
        </section>
        
    </main>
    <%- include("./partials/footer") %>
  <%- include("./partials/scripts") %>
  </body>
</html>
