<!DOCTYPE html>
<html>
  <%- include("./partials/head") %>
  <body>
    <%- include("./partials/header") %>
    <main class="main_login">

        <h1>Ingresá a tu cuenta!</h1>
        <form method="post">
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email">
            <small class="errorsRegister" id="errorEmailLogin">
              <%= locals.errors && errors.email ? errors.email.msg : null %>
            </small> 
          </div>
          <div class="mb-3 verContraseña">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password">
            <i class="fa-solid fa-eye-slash cerrado" ></i>
            <i class="fa-solid fa-eye abierto " ></i>
          </div>
          <div class="form-check recordarme">
            <input class="form-check-input" type="checkbox" value="1"  name="remember">
            <label class="form-check-label" for="remember">
             Recordame
            </label>
            <small class="errorsRegister" id="errorPasswordLogin">
              <%= locals.errors && errors.password ? errors.password.msg : null %>
            </small> 
          </div>

          <button type="submit" class="btn btn-primary">Enviar</button>
        </form>

    </main>
    <%- include("./partials/footer") %>
    <script src="/javascripts/menu.js"></script>
    <%- include("./partials/scripts") %>
  </body>
</html>
