<!DOCTYPE html>
<html>
  <%- include("./partials/head") %>
  <body>
    <%- include("./partials/header") %>
    <main class="main_posts">
      <%- include("./partials/buscador") %>

      <section>
        <h2>
          <% if (categoryFilt) { %> <%= categoryFilt.replace(/-/g, ' ') %> <%
          filterCategory.forEach(({title,imageOne,price, state }) => { %>
          <article class="boxResult">
            <img src="/images/Posts/<%= imageOne %>" />
            <div class="textoResult">
              <h4 class="tituloResult"><%= title %></h4>
              <h4 class="estadoResult">$ <%= toThousand(price) %></h4>
              <h4 class="precioResult"><%= state %></h4>
            </div>
          </article>
          <% }) %> <% }else{%> Últimos articulos agregados
        </h2>
        <div
          style="
            --swiper-navigation-color: #fff;
            --swiper-pagination-color: #fff;
          "
          class="swiper mySwiper carouselBox"
        >
          <div class="swiper-wrapper">
            <% post.forEach(item => { %>
            <div class="swiper-slide">
              <div class="swiper-zoom-container imgCarousel">
                <img src="/images/Posts/<%= item.imageOne %>" />
                <div class="textoCarousel">
                  <h4 class="tituloCarousel"><%= item.title %></h4>
                  <h4 class="precioCarousel">
                    $ <%= toThousand(item.price) %>
                  </h4>
                </div>
              </div>
            </div>
            <% }) %>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>

        <% } %>

    </main>
    <%- include("./partials/footer") %>
    <script src="/javascripts/menu.js"></script>
        <script src="/javascripts/carousel.js"></script>
    <%- include("./partials/scripts") %>

  </body>
</html>
