<!DOCTYPE html>
<html>
  <%- include("./partials/head") %>
  <body>
    <%- include("./partials/header") %>
    <main class="main_userPosts main_posts">
      <section>
        <h2>Mis Publicaciones</h2>

        <div style=" --swiper-navigation-color: #fff; --swiper-pagination-color: #fff;  "class="swiper mySwiper carouselBox"> 
          <div class="swiper-wrapper">
      <% post.forEach(item => { %>
            <div class="swiper-slide">
              <div class="swiper-zoom-container imgCarousel">
                <img src="/images/Posts/<%= item.imageOne %>" />
                <div class="textoCarousel">
                  <h4 class="tituloCarousel"><%= item.title %></h4>
                  <h4 class="precioCarousel">$ <%= toThousand(item.price)  %></h4>
                </div>
              </div>
            </div>
    <% }) %>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>
      </section>
    </main>
    <%- include("./partials/footer") %>
   
     <%- include("./partials/scripts") %>
    <script src="/javascripts/carousel.js"></script>
  </body>
</html>
